{% extends 'accounts/base.html' %}

{% block title %} パスワード変更 {% endblock %}

{% block content %}
    <div class="flex flex-col justify-center items-center mt-10">
        <h1 class="w-full max-w-md text-center text-2xl font-bold p-2 border-b border-gray-300">パスワードリセット</h1>
        <div class="w-full max-w-md">
            <p class="w-full my-4 text-center">登録したメールアドレスを入力してください。<br>パスワードリセット用のリンクを送信します。</p>
            <form method="post" class="w-full flex flex-col justify-center items-left ">{% csrf_token %}
                <div class="w-full">
                    <label class="">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
                <button type="submit" class="w-full max-w-md mt-4 py-2 bg-[#62AEE4] hover:bg-[#40A0E3] text-white shadow-md hover:shadow-none transition">送信</button>
            </form>
        </div>
    </div>
{% endblock %}