<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}base{% endblock %}</title>
    {% load static %}
</head>
<body class="bg-[#ffffff]">
    <header class="bg-[#D9ECF9] h-20 flex relative shadow-md">
        <div class="flex items-center justify-center w-full justify-between px-6">
            <svg id="open_button" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 flex items-end">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
            </svg>
            <!-- トイレGOという文字は必ず画面上部中央に配置する -->
            <a href="{% url 'toilet:home' %}" class="absolute left-1/2 transform -translate-x-1/2 text-lg">トイレGO</a>
            <div class="px-5 ">
                <nav>
                    <ul class="flex space-x-6 ">
                        {% if request.user.is_authenticated %}
                            <li class="hidden md:inline">
                                <a href="{% url 'toilet:user_comments' %}">マイページ</a>
                            </li>
                            <li class="block md:hidden flex items-end">
                                <a href="{% url 'toilet:user_comments' %}">
                                    <img src="{% static '/accounts/account_mypage.png' %}" alt="マイページ" class="w-6 h-auto">
                                </a>
                            </li>
                            <li class="hidden md:inline">
                                <a href="{% url 'accounts:user_info_update' %}">設定</a>
                            </li>
                            <li class="block md:hidden flex items-end">
                                <a href="{% url 'accounts:user_info_update' %}">
                                    <img src="{% static '/accounts/account_setting.png' %}" alt="設定" class="w-5 h-auto">
                                </a>
                            </li>
                        {% else %}
                            <li class="hidden md:inline">
                                <a href="{% url 'accounts:user_login' %}">ログイン</a>
                            </li>
                            <li class="block md:hidden flex items-end">
                                <a href="{% url 'accounts:user_login' %}">
                                    <img src="{% static '/accounts/account_login.png' %}" alt="ログイン" class="w-5 h-auto">
                                </a>
                            </li>
                            <li class="hidden md:inline">
                                <a href="{% url 'accounts:user_create' %}">サインアップ</a>
                            </li>
                            <li class="block md:hidden flex items-end">
                                <a href="{% url 'accounts:user_create' %}"><img src="{% static '/accounts/account_create.png' %}" alt="サインアップ" class="w-6 h-auto">
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="layer" class="bg-black/30 w-full h-full fixed top-0 left-0 z-[-1] opacity-0 invisible duration-300">
        <div class="h-auto w-3/5 md:w-1/5 fixed left-0 top-0 shadow-lg duration-300 bg-[#D9ECF9] px-6 pt-6 pb-24">
            <button id="close_button" class="z-[100] absolute top-4 right-4 px-3 py-1 bg-gray-800 text-white rounded">☓</button>
            <div id="menu" class="relative w-full opacity-0 invisible">
                <ul class="space-y-4 text-lg">
                    <li><a href="{% url 'toilet:home' %}">ホーム</a></li>
                    <li><a href="{% url 'toilet:search_toilet' %}">トイレを探す</a></li>
                    <li><a href="{% url 'toilet:toilet_rank' %}">ランキング</a></li>
                    <li><a href="{% url 'toilet:get_latest_comment' %}">最新レビュ－</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'toilet:user_comments' %}">マイページ</a></li>
                    <li><a href="{% url 'accounts:user_info_update' %}">設定</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:user_login' %}">ログイン</a></li>
                    <li><a href="{% url 'accounts:user_create' %}">サインアップ</a></li>
                    {% endif %}
                    <li><a href="{% url 'lp:display_lp' %}">トイレGOについて</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-full max-w-screen-md mx-auto overflow-x-hidden p-4 ">
        {% block content %}
        <!-- 子テンプレートで置き換えられる部分 -->
        {% endblock %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const open_button = document.getElementById("open_button");
            const layer = document.getElementById("layer");
            const close_button = document.getElementById("close_button");
            const menu = document.getElementById("menu");

            open_button.addEventListener('click', () => {
                open_menu();
            })

            close_button.addEventListener('click', () => {
                close_menu();
            })

            function open_menu(){
                layer.classList.remove('z-[-1]', 'opacity-0', 'invisible');
                layer.classList.add('z-[999]', 'opacity-1', 'visible', 'duration-300');
                menu.classList.remove('opacity-0', 'invisible');
                menu.classList.add('opacity-1', 'visible', 'duration-500');
            }

            function close_menu(){
                layer.classList.remove('z-[999]', 'opacity-1', 'visible');
                layer.classList.add('z-[-1]', 'opacity-0', 'invisible');
                menu.classList.remove('opacity-1', 'visible');
                menu.classList.add('opacity-0', 'invisible');
            }
        })
    </script>
</body>
{% block extra_js %}
{% endblock %}
</html>