{% extends 'toilet/base.html' %}
{% load static %}

{% block title %} トイレGOホーム {% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
    <p class="text-gray-400">
        ログインされていません
    </p>
    {% else %}
        <p class="text-gray-400">{{ user.username }}でログイン中</p>
    {% endif %}
    <div class="flex items-center justify-center my-5">
        <img src="{% static '/toilet/man_running.png' %}" alt="ロゴ_トイレ_人" class="w-6 h-auto flex items-center justify-center">
        <h1 class="font-bold text-3xl text-[#86C3EE]">イレGO</h1>
        <img src="{% static '/toilet/toilet_image.png' %}" alt="ロゴ_トイレ" class="w-9 h-auto">
    </div>
    <div class="flex items-center justify-center my-5">
        <p class="text-center font-bold">
            下のボタンから<br>
            駅のきれいなトイレ情報を<br>
            確認しよう！<br>
        </p>
    </div>
    <div class="flex flex-col items-center justify-center space-y-6">
        <a href="{% url 'toilet:search_toilet' %}" class="flex items-center justify-center w-full p-5 rounded rounded-full bg-[#86C3EE] hover:bg-[#5BB0EB] text-center text-2xl font-bold text-white shadow-lg hover:shadow-none">
            <span>トイレを探す</span>
            <img src="{% static '/toilet/search_logo_home.png' %}" alt="ロゴ_虫眼鏡" class="w-6 ml-1 h-auto"></a>
        <a href="{% url 'toilet:toilet_rank' %}" class="flex items-center justify-center w-full p-5 rounded rounded-full bg-[#86C3EE] hover:bg-[#5BB0EB] text-center text-2xl font-bold text-white shadow-lg hover:shadow-none">
            <span>ランキングを見る</span>
            <img src="{% static '/toilet/rank_home.png' %}" alt="ロゴ_王冠" class="w-8 ml-1 h-auto"></a>
        <a href="{% url 'toilet:get_latest_comment' %}" class="flex items-center justify-center w-full p-5 rounded rounded-full bg-[#86C3EE] hover:bg-[#5BB0EB] text-center text-2xl font-bold text-white shadow-lg hover:shadow-none">
            <span>最新のレビュー見る</span>
            <img src="{% static '/toilet/review_logo_home.png' %}" alt="ロゴ_レビュー" class="w-8 ml-1 h-auto">
        </a>
    </div>
    {% if request.user.is_authenticated %}
    <div class="flex items-center justify-center mt-10">
        <a href="{% url 'accounts:user_logout' %}" class=" border-b border-gray-500 text-gray-500 hover:text-gray-700">ログアウト</a>
    </div>
    {% endif %}
{% endblock %}
{% block extra_js %}
<!-- CSRFトークンを隠しフィールドとして追加 -->
<form id="csrf-form" style="display: none;">
    {% csrf_token %}
</form>

<script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const isLineApp = navigator.userAgent.toLowerCase().includes('line');
        console.log("LINEアプリからのアクセスか？", isLineApp);
    
        if (!isLineApp) {
            console.log("LINEアプリではないため、LIFFログインは実行しません。");
            return;
        }
    
        // LINEアプリからのアクセス時のみログイン処理を実行
        liff.init({
            liffId: "{{ liff_id }}"
        })
        .then(() => {
            if (!liff.isLoggedIn()) {
                liff.login();
            } else {
                
                {% if not user.is_authenticated %}
                liff.getProfile()
                    .then(profile => {
                        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                        fetch('{% url "accounts:liff_login" %}', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrfToken
                            },
                            credentials: 'same-origin',
                            body: JSON.stringify({
                                line_id: profile.userId,
                                line_name: profile.displayName
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success && data.redirect_url) {
                                window.location.href = data.redirect_url;
                            } else {
                                console.error('Login failed:', data.message);
                            }
                        })
                        .catch(error => {
                            console.error('Login error:', error);
                        });
                    })
                    .catch(error => {
                        console.error('Error getting profile:', error);
                    });
                {% endif %}
            }
        })
        .catch(err => {
            console.error('LIFF initialization failed', err);
        });
    });
</script>
{% endblock %}